<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="./reset.css" />
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="./shell.css" />
  </head>
  <body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
      <div class="mdc-top-app-bar__row">
        <section
          class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"
        >
          <span class="mdc-top-app-bar__title">Blackjack</span>
        </section>
        <nav id="navLinks" class="mdc-top-app-bar__section">
          <a href="/table.html">
            <button class="mdc-button">
              <span class="mdc-button__ripple"></span>
              <span class="mdc-button__label mdc-theme--on-primary">
                Gaming Table
              </span>
            </button>
          </a>
        </nav>

        <section
          class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end"
          role="toolbar"
        >
          <span id="loginIcon" class="material-icons"> logout </span>
          <span id="back" class="material-icons"> back </span>
        </section>
      </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust footer--fixed-adjust">
      <h1><%= gambler.username %></h1>
      <h2><%= gambler.fullName %></h2>
    </main>
    <footer>
      <span id="copyright"> &copy; MarginWise </span>
    </footer>
    <script src="./shell.js"></script>
  </body>
</html>
